@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  margin: 0;
  padding: 0;
}

@layer base {
}

@layer components {
}

@layer utilities {
  .calendar_days_SUN {
    @apply text-red-500;
  }

  .calendar_days_SAT {
    @apply text-blue-500;
  }

  .cell {
    @apply flex h-11 w-11 cursor-pointer items-center justify-center rounded-full text-center hover:scale-110;
  }

  .same_month {
  }

  .not_same_month {
    @apply text-[#686868];
  }

  .today {
    @apply bg-[#FFB80D]/90;
  }

  .selectedDate {
    @apply bg-[#cf0652]/90;
  }

  .scheduleMarker_container {
    @apply absolute -bottom-6 flex h-6 w-full items-center justify-center;
  }

  .scheduleMarker_num {
    @apply flex h-fit w-fit items-center justify-center rounded-full bg-gray-300/20 px-0.5 text-xs text-white;
  }

  .scheduleMarker {
    @apply h-2 w-2 rounded-full;
  }

  .sidebar_bg {
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 1) 100%,
      rgba(0, 0, 0, 0.2) 70%,
      rgba(0, 0, 0, 0.3) 25%,
      rgba(0, 0, 0, 1) 0%
    );

    @apply absolute top-0 -z-10 h-full w-full;
  }

  .todoList_title {
    @apply mt-4;
  }

  .font-sandstone {
    font-family: "Sandstone", sans-serif;
  }

  .form_input {
    @apply h-10 cursor-pointer rounded-md bg-[#7D848C] px-4 text-[#E6E6E6] transition-all hover:scale-105 hover:bg-[#E6E6E6] hover:text-[#4C5059];
  }

  .form_input_error {
    @apply inline-block text-xs text-amber-200 ml-2;
  }
  .datepicker_number {
    @apply bg-white/0 text-center text-[#4C5059];
  }
}
